# DATABASE (Gunakan host 'db' sesuai nama service docker-compose)
DATABASE_DSN=postgres://postgres:postgres@db:5432/website_db?sslmode=disable

# SERVER
PORT=8085
TZ=UTC

# APP BASE URL
APP_BASE_URL=http://localhost:3000

# JWT SECRET
JWT_SECRET=production_secret_key_change_me_very_secure

# SMTP EMAIL CONFIG
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASS=
SMTP_FROM=Website Simple Ecommerce <no-reply@yourdomain.com>

# REDIS (Gunakan host 'redis')
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# SHIPPING COST - RAJAONGKIR
RAJAONGKIR_API_KEY=your_rajaongkir_key
RAJAONGKIR_BASE_URL=https://rajaongkir.komerce.id/api/v1/
RAJAONGKIR_COST_URL=

# PROXY (jika diperlukan di VM, kosongkan jika tidak)
HTTP_PROXY=

# MIDTRANS
MIDTRANS_SERVER_KEY=your_midtrans_server_key
MIDTRANS_CLIENT_KEY=your_midtrans_client_key
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_PAYMENT_LINK_KEY=

# MINIO (Gunakan host 'minio')
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=website
MINIO_USE_SSL=false
